body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.info_with_line {
    height: 8vh;
}

.contact_info {
    position: absolute;
    width: 100%;
    font-size: 170%;
    top: 50%;
}

.centered {
    position: relative;
    height: 10vh;
    width: 60%;
    margin: auto;
    /* position: fixed;
    left: 50%;
    margin-left: -150px; */
}