body {
    margin: 0%;
}

section {
    height: 100vh;
    position: relative;
    background-color: darksalmon;
    /* background-size: cover; */
}

.sect_1 {
    background: url(/static/images/burg3.jpg)100% 330% no-repeat;
}


/* .sect_2 {
    background-image: url(/static/images/bg.jpg);
} */