@media screen and (max-width:769px) {
    /* Attention at the space after @and@ */
    .menu a {
        display: none;
    }
    .menu a.menuicon {
        display: block;
    }
    .card {
        width: 90%;
    }
    .card-body {
        font-size: 4vw;
    }
    .leftbtn {
        font-size: 3vw;
        padding: 0.5rem;
    }
    .rightbtn {
        font-size: 3vw;
        padding: 0.5rem;
    }
    .svgicon {
        width: 1em;
        height: 1em;
    }
    .basketfon {
        width: 2em;
        height: 2em;
    }
    .basketfonback {
        right: 3vh;
        width: 2em;
        height: 2em;
    }
    .basket {
        height: 2em;
    }
}