body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.section_1 {
    /* height: 100vh; */
    height: 100%;
    width: 100%;
}

.widesection_2 {
    height: 100%;
    width: 100%;
    /* display: block; */
}

.CustomCentered {
    display: flex;
    position: relative;
    height: 12vh;
    width: 60%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.line1 {
    flex: 2;
    flex-direction: row;
    display: flex;
    /* start */
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.0;
    /* end */
    /* This styles are conflic with @bootstrap.css@ */
}

.address {
    flex: 2;
    margin: auto;
    /*для выравн текста по середине*/
}

.social {
    flex: 1;
    margin: auto;
}

.line2 {
    flex: 1;
}

.logo {
    height: 17vh;
    width: 25vh;
    margin: auto;
}

.pict {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.menu {
    height: 8vh;
    text-align: center;
}

.menu a {
    color: black;
    padding: 15px 35px;
    font-size: 20px;
}

.menu a:hover {
    color: red;
    border-bottom: 2px solid red;
    transition: .2s;
}

.menu .menuicon {
    display: none;
}

.burger {
    height: 63vh;
    background-image: url(/static/images/bigburg.jpg);
    background-size: cover;
    position: relative;
}

.BMenu {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.BMenu img {
    max-width: 100%;
    height: auto;
    max-width: 100%;
    height: auto;
}

.card {
    margin: 10px;
    width: 20%;
    /* height: 20%; */
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.card-img-top {
    flex: 1;
    align-self: center;
}

.card-body {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-around;
}

.card-title {
    flex: 1;
}

.card-text {
    flex: 5;
}

.redactbuttons {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

.redactbuttons a {
    color: #fff;
}

a.edit {
    font-weight: 700;
    color: white;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

a.edit:hover {
    background: rgb(53, 167, 110);
}

a.edit:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

a.delete {
    font-weight: 700;
    color: white;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    background: rgb(179, 34, 34);
    box-shadow: 0 -3px rgb(168, 25, 25) inset;
    transition: 0.2s;
}

a.delete:hover {
    background: rgb(223, 19, 19);
}

a.delete:active {
    background: rgb(223, 19, 19);
    box-shadow: 0 3px rgb(223, 19, 19)inset;
}

.blue {
    background-color: #007bff;
}

.btnblock {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.btnblock a {
    color: white;
    /* color: black; */
}

.leftbtn {
    flex: 1;
    margin: 2px;
    padding: 0.08rem 0.8rem;
}

.rightbtn {
    flex: 1;
    margin: 2px;
    padding: 0.08rem 0.8rem;
}

@media screen and (max-width:769px) {
    /* Attention at the space after @and@ */
    .menu a {
        display: none;
    }
    .menu a.menuicon {
        display: block;
    }
    .card {
        width: 90%;
    }
    .card-body {
        font-size: 4vw;
    }
    .leftbtn {
        font-size: 3vw;
        padding: 0.5rem;
    }
    .rightbtn {
        font-size: 3vw;
        padding: 0.5rem;
    }
}

.modalDialog {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog .ModelContent {
    width: 60%;
    height: 70%;
    top: 15%;
    margin: auto;
    position: relative;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.menupoint {
    color: crimson;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.165em;
    font-family: inherit;
}


/* .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
} */

.close:hover {
    background: #00d9ff;
}